.Guinueng_logo {
	font-family : 'Pacifico', cursive;
}

.Guinueng_footer_button{
    font-size : .6rem
}

.Guinueng_footer{
    text-align : center; margin-top : 2rem
}

.Guinueng_header{
    text-align : center; margin : 2rem 0;
}