{% extends 'base.html' %}

{% block content %}

	<div>
        <div class='Guinueng_500px_div'>

            <img src="{{ target_project.image.url }}" alt="" 
                 style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">

            <h2 style="font-family: 'NamunBarunGothicB">
                {{ target_project.title }}
            </h2>

            <h6 style='margin-bottom: 0.5rem'>
                제작자 : {{ target_project.writer.profile.nickname }}
            </h6>

            <p style='margin-bottom: 0.5rem'>
                - Description -
            </p>

            <p>
                {{ target_project.description }}
            </p> 
    	</div>
        <div class='text-center mb-5'>
            {% if user.is_authenticated %}
            	{% if not subscription %}
                    <a href="{% url 'subscriptionapp:subscribe' %}?project_pk={{ target_project.pk }}" 
                       class="btn btn-primary rounded-pill px-4">
                        Subscribe
                    </a>
            	{% else %}
            		<a href="{% url 'subscriptionapp:subscribe' %}?project_pk={{ target_project.pk }}" 
                       class="btn btn-dark rounded-pill px-4">
                        Unsubscribe
                    </a>
            	{% endif %}
            {% endif %}
        </div>

        <hr>

    	<div>
            <div>
                {% include 'snippets/Guinueng_list.html' with article_list=object_list %}
            </div>

        </div>
	</div>

{% endblock %}