{% extends 'base.html' %}

{% block content %}

	<div>
        <div class='Guinueng_500px_div'>
        	<h1>
                {{ target_project.title }}
            </h1>

            <hr>

            <h6>
                {{ target_project.writer.profile.nickname }}
            </h6>

            <hr>

            <img style="width:100%; border_radius=1rem; margin:2rem 0" 
                src="{{ target_project.image.url }}" alt="">

            <hr>

            <p>
                {{ target_project.description }}
            </p>

            <hr>

        </div>
	</div>

{% endblock %}